:root {
	--primary: 0, 0%, 100%;
	--secondary: 202, 73%, 28%;
	--c: cubic-bezier(1,.49,.16,.96);
}



.selector-bar {
  border: 2px solid red;
  position: fixed;

  margin: 0;
  
  left: 0;
  top: 0;
  padding-top: 190px;
  z-index: 4;
  /* width: 15%; */
  /* min-width: 210px;; */
  height: 100%;
  width: 0;
  font-size: 1em;
  overflow-x: hidden;
  transition: 0.7s;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);	
}

.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-selectors{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links img {
  height: 50px;
}

#git img {
  border-radius: 50px;
  overflow: hidden;
}

.inputs #close-sidebar{
  position: absolute;
  top:0;
  right:0;
}

canvas {
  transition:margin-left 0.7s;
}

